{% extends 'base.html.twig' %}

{% block title %}Zoo Arcadia
{% endblock %}

{% block body %}

	<div class="container-fluid entete d-flex text-primary">

		<div class="bienvenue col-lg-4">
			<h1>Bienvenue à ARCADIA</h1>
		</div>
		<div class="entete-texte col-lg-4 col-sm-3">
			<h3>Le Zoo de la forêt de Brocéliande depuis 1960</h3>
		</div>
	</div>

	<section class="container presentation text-secondary m-4 d-flex ">

		<div class="presentation1">
			<h4>Au milieu de la mystérieuse forêt de Brocéliande se trouve notre zoo ARCADIA</h4>
			<p>Venez rencontrer nos animaux mystérieux</p>
			<h4>Nos habitats</h4>
			<p>Dans un environnement adapté, responsable, écologique et indépendant énergétiquement</p>
			<p>Nos animaux de la savane, de la jungle et des marais vous attendent</p>
		</div>
		<div class="presentationHabitats"></div>


		<div class="container carrousel1">
			<div class="carousel slide" data-bs-ride="carousel" id="carrousel1">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carrousel1" data-bs-slide-to="0" class="active"></button>
					<button type="button" data-bs-target="#carrousel1" data-bs-slide-to="1"></button>
					<button type="button" data-bs-target="#carrousel1" data-bs-slide-to="2"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{asset('/images/savane/savane.jpg')}}" alt="La Savane" class="d-block w-100">
						<div class="carousel-caption text-primary">
							<h4>La Savane</h4>
						</div>
					</div>
					<div class="carousel-item ">
						<img src="{{asset('/images/jungle/jungle1.jpg')}}" alt="La Jungle" class="d-block w-100">
						<div class="carousel-caption text-primary">
							<h4>La Jungle</h4>
						</div>
					</div>
					<div class="carousel-item ">
						<img src="{{asset('/Images/Marais/Marais.jpg')}}" alt="Le Marais" class="d-block w-100">
						<div class="carousel-caption text-primary">
							<h4>Les marais</h4>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carrousel1" data-bs-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carrousel1" data-bs-slide="next">
					<span class="carousel-control-next-icon"></span>
				</button>
			</div>
		</div>
		<!-- <p> Partez à la découverte des animaux de la Savane, la Jungle et des Marais</p> -->
	</section>

	<section class="container-fluid services bg-secondary text-primary d-flex p-5">
		<div class="guide">
			<p>Des visites guidées vous sont proposées</p>
			<img src="{{asset('/images/guide.png')}}" alt="guide">

		</div>
		<div class="train">
			<img src="{{asset('/images/train.png')}}" alt="train">

			<p>le petit train</p>
		</div>
		<div class="resto">
			<p>Restauration rapide</p>
			<img src="{{asset('/images/assiette.png')}}" alt="resto">

		</div>
		<div class="services">
			<h3>Services sur place</h3>
			<button type="button" class="btn btn-primary">En savoir plus</button>
		</div>
	</section>

{% endblock %}
